#root {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    // background: linear-gradient(yellow, orange);
    background-color: #f47a63;
}

.icon {
    max-width: 200px;
}

.topic-list {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topic-header {
    text-align: center;
    margin-top: 30px;
}

.topic-item {
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 2px;
}

.topic-item .topic-button {
    border-radius: 10px;
}

.problem-list {

}

.problem {
    border-radius: 10px;
}

.problem div {
    text-align: center
}

.problem-title {
    margin-left: 10px;
    margin-right: auto;
}

.problem-dropdown-icon {
    float: right;
    vertical-align: center;
    margin-top: 13px;
}

.problem-dropdown {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
}

.source-list {

}

.source {
    text-align: center;
}